<ion-view title="Dashboard">
  <ion-nav-buttons side="right">
    <button class="button button-icon-right button-icon ion-plus" ng-click="openExpenseModal()"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left">
        I owe
        <i class="icon ion-social-usd"></i>
        <span class="badge badge-assertive">{{totalIOwe | currency}}</span>
      </ion-item>
      <ion-item class="item-icon-left">
        I'm owed
        <i class="icon ion-social-usd"></i>
        <span class="badge badge-positive">{{totalTheyOweMe | currency}}</span>
      </ion-item>
    </ion-list>
     <ion-list>
      <ion-item class="item-divider">
        Friends
      </ion-item>
      <ion-item ng-repeat="friend in friends" class="item-icon-left" ng-click="showFriend(friend)">
        <i class="icon ion-person"></i>
        {{friend.name}}
        <span class="item-note">owes me: {{getFriendTotalDebt(friend) | currency}}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
