<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">
  <!-- My Tab -->
  <ion-tab title="Summary" icon="icon ion-home" href="#/tab/dash" hidden="{{authUser?'false':'true'}}">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <!-- Friends Tab -->
  <ion-tab title="Friends" icon="icon ion-person" href="#/tab/friends" hidden="{{authUser?'false':'true'}}">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>
  <!-- Account -->
  <ion-tab title="Account" icon="icon ion-gear-a" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
