<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.borunov.sharedspendings" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Shared Spendings</name>
  <description>
        Shared Spendings Managment
    </description>
  <author email="yuri@borunov.com" href="https://github.com/yborunov">
      Yuri Borunov
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="android">
    <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
    <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
    <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
    <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
    <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
  </platform>
</widget>